<?xml version="1.0" encoding="UTF-8"?>
    <launch>
        <!-- World Params -->
        <arg name="world_number" default="1"/>
        <arg name="bug_number" default="2"/>
        <arg name="gui" default="true"/>

        <!-- World -->
        <arg name="world_name" default="puzzlebot_aruco_markers.world"/>
        <include file="$(find puzzlebot_gazebo)/launch/puzzlebot_gazebo.launch">
            <arg name="world_name" value="$(arg world_name)"/>
            <arg name="gui" value="$(arg gui)"/>
        </include>

        <!--Rviz-->
        <include file="$(find minichal6)/include/rviz/rviz.launch"/> 
        
        <!--Minichalenge Nodes-->
        <node pkg="image_transport" type="republish" name="compress_img" args="raw in:=/puzzlebot_1/camera/image_raw compressed out:=/image_compressed"/>
        

    </launch>