<?xml version="1.0" encoding="UTF-8"?>
    <launch>
        <!-- Args -->
        <arg name="image" default="/image_compressed/compressed"/>
        <arg name="camera_info" default="/camera_info"/>

        <!-- Image nodes -->
        <node pkg="minichal6" type="pub_calibration.py" name="camera_data"/>
        <node pkg="image_transport" type="republish" name="compress_img" args="raw in:=/video_source/raw compressed out:=/image_compressed"/>

        <include file="$(find ros_deep_learning)/launch/video_source.ros1.launch"/>
        <include file="$(find minichal6)/include/arucos/arucos_detect_real.launch"/>

        <!--Minichalenge Nodes-->
        <node pkg="minichal6" type="aruco_finder.py" name="aruco_filter" output="screen"/>
        <node pkg="rqt_image_view" type="rqt_image_view" name="visual"/>

    </launch>