<?xml version="1.0"?>
<launch>

        <node pkg="minichal1" type="puzzlebot_kinmatic_model.py" name="simulation"/>
        <node pkg="minichal1" type="localization.py" name="localization"/> 

        <node pkg="tf2_ros" type="static_transform_publisher" name="map_joint" args="odomPose_x  odomPose_y  odomPose_z  odomPose_roll  odomPose_pitch  odomPose_yaw   map   odom"/>

        <arg name="puzzlebot_sim_model" default="$(find minichal1)/include/puzzlebot_jetson_ed_urdf.urdf"/>
        <param name="robot_description" command="cat $(arg puzzlebot_sim_model)" />

        <node pkg="minichal1" type="wheels_rotation.py" name="joints_state"/>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="simulated_state_publisher" output="screen"/>

        <arg name="rvizconfig" default="$(find minichal1)/rviz/my_rviz_configuration.rviz" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> 

</launch>
