<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- include file="$(find puzzlebot_gazebo)/launch/puzzlebot_gazebo.launch" -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find puzzlebot_rviz)/config/config_file_m1.rviz" />
    <node name="puzzlebot_kinematic_model" pkg="puzzlebot_sim" type="puzzlebot_kinematic_model.py" output="screen"/>
    <!-- <node name="move_forward_some_time" pkg="puzzlebot_sim" type="move_forward_some_time.py" output="screen"/> -->
</launch>
