<?xml version="1.0" encoding="UTF-8"?>
    <launch>
        <!-- World Params -->
        <arg name="world_number" default="1"/>
        <arg name="bug_number" default="2"/>

        <!-- Worlds -->
        <arg name="world_name" default="obstacle_avoidance_$(arg world_number).world"/>

        <!--Gazebo sim-->
        <include file="$(find puzzlebot_gazebo)/launch/puzzlebot_gazebo.launch">
            <arg name="world_name" value="$(arg world_name)"/>
        </include>

        <!--Minichalenge Nodes-->
        <node pkg="adjic_bot" type="bug$(arg bug_number).py" name="bug" />

    </launch>
