<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="puzzlebot_1"/>
    
    <!--Rviz-->
    <arg name="rvizconfig" default="$(find minichal6)/include/rviz/conf.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" >
        <remap from="/puzzlebot1/robot_description" to="robot_description" />
    </node>
 

</launch>