<?xml version="1.0"?>
<launch>
        

        <!--Dependency nodes-->
        <include file="$(find minichal4)/include/nodes/nodes.launch"/> 

        <!--Robot description-->
        <include file="$(find minichal4)/include/robot/robot_desc.launch"/> 

        <!--Experimental Points Mode-->
        <node pkg="minichal4" type="graph_points.py" name="graphpoints" output="screen"/>
        
        <!--Test Mode-->
        <node pkg="minichal4" type="testmode.py" name="test_mode" output="screen"/>
        
        <!--Rviz-->
        <include file="$(find minichal4)/include/rviz/rviz.launch"/> 
</launch>
