<?xml version="1.0" encoding="UTF-8"?>
    <launch>
        <!-- Worlds -->
        <arg name="world_name" default="$(find puzzlebot_gazebo)/worlds/obstacle_avoidance_1.world"/> 
        <!--<arg name="world_name" default="$(find puzzlebot_gazebo)/worlds/obstacle_avoidance_2.world"/> -->
        <!--<arg name="world_name" default="$(find puzzlebot_gazebo)/worlds/obstacle_avoidance_3.world"/> -->
        <!--<arg name="world_name" default="$(find puzzlebot_gazebo)/worlds/obstacle_avoidance_4.world"/> -->

        <!--Gazebo sim-->
        <include file="$(find puzzlebot_gazebo)/launch/puzzlebot_gazebo.launch">
            <arg name="world_name" value="$(arg world_name)"/>
        </include>


        
    </launch>