<?xml version="1.0" encoding="UTF-8"?>
    <launch>
        <!-- Worlds -->
        <arg name="world_name" default="$(find puzzlebot_gazebo)/worlds/obstacle_avoidance_4.world"/> 
        <!--<arg name="world_name" default="$(find puzzlebot_gazebo)/worlds/obstacle_avoidance_2.world"/> -->
        <!--<arg name="world_name" default="$(find puzzlebot_gazebo)/worlds/obstacle_avoidance_3.world"/> -->
        <!--<arg name="world_name" default="$(find puzzlebot_gazebo)/worlds/obstacle_avoidance_4.world"/> -->

        <!-- GUI-->
        <arg name="gui" default="true"/>

        <!--Gazebo sim-->
        <include file="$(find puzzlebot_gazebo)/launch/puzzlebot_gazebo.launch">
            <arg name="world_name" value="$(arg world_name)"/>
            <arg name="gui" value="$(arg gui)" />
        </include>

        <!--Rviz-->
        <!--<include file="$(find minichal5)/include/rviz/rviz.launch"/> -->

        <!--Minichalenge Nodes-->
         <!--<node pkg="minichal5" type="state_machine.py" name="state_machine" output="screen"/>-->
        <node pkg="minichal5" type="localization.py" name="odom" />
        <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>
        <!--<node pkg="minichal5" type="bug2.py" name="follow_walls"/>-->

    </launch>