<?xml version="1.0" encoding="UTF-8"?>
    <launch>
        <!-- Robot -->
        <param name="robot_description" command="$(find xacro)/xacro '$(find adjic_autonomousnavigation_puzzlebot)/urdf/puzzlebot_lidar_real.xacro"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false"/>
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false"/>

        <!-- Image nodes -->
        <node pkg="minichal6" type="pub_calibration.py" name="camera_data"/>
        <node pkg="image_transport" type="republish" name="compress_img" args="raw in:=/video_source/raw compressed out:=/image_compressed"/>

        <include file="$(find ros_deep_learning)/launch/video_source.ros1.launch"/>
        <include file="$(find minichal6)/include/arucos/arucos_detect_real.launch"/>

        <!--Minichalenge Nodes-->
        <!--Minichal Nodes-->
        <node pkg="minichal6" type="aruco_finder.py" name="aruco_finder"/>
        <!--<node pkg="minichal6" type="odometry.py" name="odometry"/>-->
        <node pkg="minichal6" type="bug$(arg bug).py" name="bug$(arg bug)"/>
        <node pkg="rqt_image_view" type="rqt_image_view" name="visual"/>

    </launch>