<launch> 

  <include file="$(find xarm_bringup)/launch/lite6_server.launch">
    <arg name="robot_ip" default="192.168.0.31"/>	
  </include>

  <include file="$(find xarm_bringup)/launch/xarm7_server.launch">
    <arg name="robot_ip" default="192.168.0.31"/>	
  </include>

  <include file="$(find adjic_xarm)/launch/arucos.launch"/>

  <node name="pick" pkg="adjic_xarm" type="robot_pick.py" output="screen"/>
  
</launch>